<% provide :title, t("about") %>
<h1><%= t "about" %></h1>
<p>
  <%= t "the" %><a href="https://www.railstutorial.org/"><em><%= t "ruby_on_rails_tutorial" %></em></a>
  <%= t "is_a" %><a href="https://www.railstutorial.org/book"><%= t "book" %></a> <%= t "and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t "screencast_series" %></a>
  <%= t "to_teach_web_development_with" %>
  <a href="http://rubyonrails.org/"><%= t "ruby_on_rails" %></a>.
  <%= t "this_is_the_sample_application_for_the_tutorial" %>.
</p>