<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "get_help_on_the_ruby_on_rails_tutorial_at_the" %>
  <a href="https://www.railstutorial.org/help"><%= t "rails_tutorial_help_section" %></a>.
  <%= t "to_get_help_on_this_sample_app" %>, <%= t "see_the" %>
  <a href="https://www.railstutorial.org/book"><em><% t="ruby_on_rails_tutorial" %></em>
  <%= t "book" %></a>.
</p>