<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".get_help_on_the_ruby" %>
  <%= link_to t(".rails_tutorial_help_section"), "https://www.railstutorial.org/help" %>.
  <%= t ".to_get_help_on_this_sample_app" %>, <%= t ".see_the" %>
  <em><%= link_to t(".ruby_on_rails_tutorial"), "https://www.railstutorial.org/book" %></em>
  <%= t ".book" %></a>.
</p>
