<h1><%= t ".sample_app" %></h1>
<p><%= t ".hi" %> <%= @user.name %>,</p>
<p><%= t ".welcome" %> ! <%= t ".activation_guide" %>:</p>
<%= link_to t(".activate"), edit_account_activation_url(I18n.locale, @user.activation_token,
  email: @user.email) %>
