<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".ruby_on_rails_tutorial"), "https://www.railstutorial.org/" %>
    <%= t ".by" %> <%= link_to t(".michael_hartl"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
